@keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  
  .nav-active {
    transform: translateX(0%) !important;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .burger {
    display: block;
    cursor: pointer;
    z-index: 4;
    @include desktop{
      display: none;
    }
    
  }
  .burger div {
    width: 25px;
    height: 2.5px;
    margin: 5px;
    transition: all 0.3s ease;
    
  }
  .nav-bar {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0vh;
    background-color: #1a2147;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    @include desktop{
      align-items: flex-end;
      justify-content: center;
      width: 700px;
      right: 1px;
      height: 86px;
      transform: translateX(0%);
      background-color: transparent;
      z-index: 6;
      
    }

    ul {
      margin-top: 4vh;
      @include desktop{
        flex-direction: row;
        align-items: center;
        display: flex;
        margin-top: 0vh;
        margin-bottom: 0;
      }
      li:first-of-type {
        @include desktop{
         margin-top: 0vh;
        }
        margin-top: 8vh;
      }
      li {
        list-style-type: none;
        margin-bottom: 10vh;
        padding: 0 20px 0 20px;
        opacity: 0;
        font-size: 1.7rem;
        font-weight: bold;
        cursor: pointer;
        @include desktop{
         opacity: 1;
         margin-bottom: 0!important;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }  
  @media screen and (max-width: 330px){
      .nav-bar{
          ul{
              li{
                  margin-bottom: 8vh;
              }
          }
      }
  }
  @media screen and (min-width: 390px){
    .nav-bar{
        ul{
            li{
                margin-bottom: 13vh;
                width: 110px;
                text-align: center;
            }
        }
    }
}