.done {
    background-color: #24293c;
    padding-bottom: 5rem;
    .container {
      width: 95%;
      margin: 0 auto;
      @include desktop{
        width: 1140px;
       }
      .textInDone {
        padding-top: 5rem;
        .mainTitle {
          font-size: 2.5rem;
          letter-spacing: 0.5rem;
          font-weight: bold;
          @include smallScreen{
            font-size: 3.7rem;
            margin-top: -0.8rem;
          }
        }
        hr {
          width: 50px;
          margin-top: -2vh;
          margin-bottom: 2vh;
          margin-left: 0;
          @include smallScreen{
           width: 100px;
          }
        }
      }
      .doneProjects {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @include desktop{
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
         }
        .box {
          width: 330px;
          height: 280px;
          margin-bottom: 1rem;
          position: relative;
                  @include smallScreen{
                    
                      width: 650px;
                      padding-bottom: 10rem;
                    
                  }
                  @include notebook{
                    width: 1000px;
                    padding-bottom: 30rem;
                  }
                  @include desktop{
                    width: 48%;
                    margin-top: 4vh;
                   }
          .themeBox {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(36, 40, 61, 0.85);
            transform: translateX(100%);
            transition: transform 0.5s ease-out;
            @include notebook{
              padding-top: 1rem;
            }
            p {
              font-size: 2rem;
              font-weight: bold;
              font-style: italic;
              margin-top: 1.2rem;
              transition: 3s ease forwards;
              @include smallScreen{
                font-size: 3rem;
                margin-top: 1.7rem;
                padding-bottom: 1rem;
              }
              @include notebook{
                margin-top: 5rem;
                font-size: 4rem;
              }
              @include desktop{
                margin-top: 3rem;
                font-size: 4rem;
                
              }
            }
            button:nth-of-type(2) {
              margin-top: 0.5rem;
            }
            .disabled {
              cursor: not-allowed;
              background-color: rgb(109, 108, 108);
            }
            h3 {
              font-size: 1.6rem;
              transition: transform 1s ease-in;
              color: #fff;
              margin-top: 0rem;
              margin-bottom: -1rem;
              @include smallScreen{
                font-size: 3rem;
                margin-top: 1.3rem;
                padding-bottom: 1rem;
              }
              @include desktop{
                font-size: 3rem; 
              }
            }
            button:nth-of-type(1) {
              margin-top: -1rem;
              @include smallScreen{
                margin-bottom: 2rem;
              }
              @include notebook{
               margin-bottom: 5rem; 
              }
            }
            button {
              transition: transform 1s ease-in;
              color: #fff;
              text-transform: uppercase;
              text-decoration: none;
              padding: 1rem;
              border-radius: 5px;
              display: inline-block;
              border: none;
              transition: all 0.4s ease 0s;
              @include smallScreen{
                width: 150px;
                padding: 2rem;
                font-size: 2rem; 
              }
              @include notebook{
                width: 250px;
                padding: 3rem;
              }
              @include desktop{
               width: 250px;
              }
            }
            button:hover {
              letter-spacing: 1px;
              -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
              -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
              box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
              transition: all 0.4s ease 0s;
            }
            h3 {
              padding-top: 1rem;
              @include notebook{
                font-size: 4rem;
                margin-top: 3rem;
              }
            }
            .content-skills{
              @include smallScreen{
                font-size: 2rem;
                margin-top: 1.3rem;
                padding-bottom: 1rem;
              }
              @include notebook{
                font-size: 3rem; 
              }
              @include desktop{
                font-size: 2rem; 
              }
              
            }
          }
        }
            .hideDiv{
              height: 1400px;
              width: 500px;
              z-index: 5;
              position: absolute;
              top: 0px;
              right: -500px;
            }
        .box:hover {
          .themeBox {
            height: 95%;
            transform: translateX(0%);
            opacity: 1;
            margin-bottom: 2rem;
            transition: transform 0.5s ease-in;
            @include desktop{
              height: 100%;
              margin-bottom: -25px;
    padding-top: 25px;
            }
          }
          
        }
      }
      img {
        width: 100%;
      }

    }
  }