.footer {
    background-color: #24293c;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .container {
      width: 95%;
      margin: 0 auto;
      .textInFooter {
        display: flex;
        padding-top: 2rem;
        flex-direction: column;
        align-items: center;
        .socials {
          padding-bottom: 2rem;
          display: flex;
          img {
            height: 50px;
            margin-right: 1rem;
          }
          .fb {
            transform: scale(1.2);
          }
          .ld{
            transform: scale(1.2);
          }
          .ig{
            transform: scale(1.2);
            margin-left: -6px;
          }
          .github{
            transform: scale(1.1);
          }
        }
        span {
          font-size: 2rem;
          color: white;
        }
      }
    }
  }
  