.About {
    background-color: #1f2233;
  
    margin-top: -11.5vh;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin: 0 auto;
      .photoInAbout {
        padding-top: 7rem;
        img {
          -webkit-box-shadow: 0px 0px 5px 8px rgba(51, 79, 107, 1);
          -moz-box-shadow: 0px 0px 5px 8px rgba(51, 79, 107, 1);
          box-shadow: 0px 0px 5px 8px rgba(51, 79, 107, 1);
          height: 400px;
        }
      }
      .discover {
        margin-top: 2rem;
        .mainTitle {
          font-size: 4.5rem;
          font-weight: bold;
        }
        hr {
          width: 50px;
          margin-left: 0;
          margin-top: -4vh;
          margin-bottom: 2vh;
        }
        .aboutMe {
          color: white;
          font-size: 1.8rem;
          width: 92%;
        }
      }
      .tableInAbout {
        display: flex;
        flex-direction: column;
        .leftSiteInTable,
        .rightSiteInTable {
          font-family: "Open Sans", sans-serif;
          padding-top: 0.9rem;
          padding-left: 1rem;
          padding-bottom: 0.9rem;
          .tableInputs {
            font-size: 1.6rem;
            color: white;
            .block {
              display: flex;
              p {
                margin-bottom: 0.3rem;
              }
              p:nth-of-type(2) {
                margin-left: 5px;
              }
            }
          }
        }
        .rightSiteInTable {
          margin-top: -2vh;
        }
      }
      .buttonUnderTable {
        margin-top: 2vh;
        padding-bottom: 7rem;
        button {
          color: white;
          text-align: center;
          cursor: pointer;
          border-radius: 0.5rem;
          padding: 1.4rem 0;
          min-width: 155px;
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0rem;
          text-align: center;
          border-style: solid;
          border-width: 1px;
        }
      }
    }
  }