.About {
    background-color: #1f2233;
  
    margin-top: -11.5vh;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin: 0 auto;
      @include desktop{
        flex-direction: row;
        width: 1140px;
      }
      .photoInAbout {
        padding-top: 7rem;
        @include desktop{
         padding-top: 3rem;
        }
        img {
          -webkit-box-shadow: 0px 0px 5px 8px rgba(51, 79, 107, 1);
          -moz-box-shadow: 0px 0px 5px 8px rgba(51, 79, 107, 1);
          box-shadow: 0px 0px 5px 8px rgba(51, 79, 107, 1);
          height: 400px;
          @include desktop{
           height: 431px;
           margin-right: 40px;
           margin-top: -40px;
          }
        }
      }
      .discover {
        margin-top: 2rem;
        @include desktop{
         margin-top: -1rem
        }
        .mainTitle {
          font-size: 4.5rem;
          font-weight: bold;
          @include desktop{
            font-size: 3.2rem;
            margin-top: 9rem;
          }
          
        }
        hr {
          width: 50px;
          margin-left: 0;
          margin-top: -4vh;
          margin-bottom: 2vh;
          @include smallScreen{
            width: 100px;
           }
           @include desktop{
           width: 50px;
           margin-top: -2vh;
          }
        }
        .aboutMe {
          color: white;
          font-size: 1.8rem;
          width: 92%;
          line-height: 1.8;
          @include notebook{
            font-size: 2.3rem;
           }
           @include desktop{
           font-size: 1.5rem;
          }
        }
      }
      .tableInAbout {
        display: flex;
        flex-direction: column;
        @include desktop{
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 635px;
        }
        .leftSiteInTable,
        .rightSiteInTable {
          font-family: "Open Sans", sans-serif;
          padding-top: 0.9rem;
          padding-left: 1rem;
          padding-bottom: 0.9rem;
          .tableInputs {
            font-size: 1.6rem;
            color: white;
            @include notebook{
              font-size: 2.3rem;
                
             }
             @include desktop{
             font-size: 1.5rem;
            }
            .block {
              display: flex;
              p {
                margin-bottom: 0.3rem;
                a{
                  img{
                    height: 25px;
                    @include notebook{
                      height: 35px;
                     }
                     @include desktop{
                     height: 25px;
                    }
                  }
                }
              }
              p:nth-of-type(1){
                font-weight: bold;
              }
              p:nth-of-type(2) {
                margin-left: 5px;
              }
            }
          }
        }
        .rightSiteInTable {
          margin-top: -2vh;
          @include desktop{
           margin-top: 0vh;
          padding-right: 100px;
          }
        }
      }
      .buttonUnderTable {
        margin-top: 2vh;
        padding-bottom: 7rem;
        button {
          color: white;
          text-align: center;
          cursor: pointer;
          border-radius: 0.5rem;
          padding: 1.4rem 0;
          min-width: 155px;
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0rem;
          text-align: center;
          border-style: solid;
          border-width: 1px;
          @include notebook{
           font-size: 2rem;
           padding: 2rem 4rem;     
          }
          @include desktop{
           padding: 1.4rem 0;
           font-size: 1.4rem;
          }
        }
      }
    }
  }