.experience {
    background-color: rgba(31, 34, 51, 0.99);
    padding-bottom: 5rem;
    .container {
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @include desktop{
       width: 1140px;
      }
      .textInExperience {
        padding-top: 5rem;
        @include desktop{
         text-align: center;
        }
        .mainTitle {
          font-size: 2.5rem;
          letter-spacing: 0.5rem;
          font-weight: bold;
          @include smallScreen{
            font-size: 3.3rem;
            margin-top: -0.5rem;
          }
        }
        hr {
          width: 50px;
          margin-top: -2vh;
          margin-bottom: 2vh;
          margin-left: 0;
          @include smallScreen{
            width: 100px;
           }
           @include desktop{
           margin: 0 auto;
          }
        }
      }
      .cd-container {
        .cd-timeline-block {
          p {
            font-size: 1.5rem;
            @include notebook{
              font-size: 1.8rem;
                
             }
          }
          h2 {
            font-size: 2rem;
            @include notebook{
              font-size: 2.4rem;
                
             }
          }
          span, li{
            @include notebook{
              font-size: 2rem;
                
             }
          }
        }
      }
    }
  }